<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4OjW5Rt6DXENVsJbVMFw1a0Kumjg70yY</string>
	<key>GCM_SENDER_ID</key>
	<string>441518811604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.halema</string>
	<key>PROJECT_ID</key>
	<string>haleemh-d7598</string>
	<key>STORAGE_BUCKET</key>
	<string>haleemh-d7598.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441518811604:ios:5723b51e07dc1046cdce41</string>
</dict>
</plist>